@mixin mediaWide {
  @media screen and (min-width: 500px) {
    @content;
  }
}

@mixin selectionColor {
  ::selection {
    background: $color-1;
    color: $color-2;
  }
  ::-moz-selection {
    background: $color-1;
    color: $color-2;
  }
}
