*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer,
header,
nav,
section,
main {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

@font-face {
  font-family: 'Star Jedi';
  src: url("../font/Starjedi.eot?") format("eot"), url("../font/Starjedi.woff") format("woff"), url("../font/Starjedi.ttf") format("truetype"), url("../font/Starjedi.svg#StarJedi") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-family: "Ubuntu", sans-serif; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }
  .modal--show {
    display: block; }
  .modal--hide {
    display: none; }

.modal-main {
  position: fixed;
  background-color: #0a0b0b;
  color: #ffffff;
  width: 75%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem; }
  @media screen and (min-width: 500px) {
    .modal-main {
      width: 60%;
      padding: 2rem; } }

.info-container {
  display: flex;
  flex-direction: column;
  gap: 3px; }

.general-info {
  display: grid;
  grid-template-columns: 30% 70%; }
  .general-info__attribute {
    color: #ffe81f; }
  .general-info--films {
    grid-template-columns: 100%; }
  .general-info__value--film {
    margin: 3px 0 0 2rem; }

.button {
  background-color: #ffe81f;
  color: #000000;
  width: 150px;
  height: 30px;
  margin: 1rem auto 0;
  border: none;
  cursor: pointer; }

.header {
  height: 15vh;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Star Jedi';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px; }
  .header ::selection {
    background: #ffe81f;
    color: #000000; }
  .header ::-moz-selection {
    background: #ffe81f;
    color: #000000; }
  @media screen and (min-width: 500px) {
    .header {
      height: 18vh; } }
  .header__heading--one {
    margin-top: -10px;
    font-size: 2.5rem; }
    @media screen and (min-width: 500px) {
      .header__heading--one {
        font-size: 3rem; } }
  .header__heading--two {
    font-size: 0.8rem; }
    @media screen and (min-width: 500px) {
      .header__heading--two {
        font-size: 1rem; } }

.container {
  width: 100%;
  min-height: 85vh;
  background: url("../img/stars-background.jpg");
  background-size: 100% auto;
  background-position: center top 60px;
  display: flex;
  justify-content: center; }
  @media screen and (min-width: 500px) {
    .container {
      min-height: 82vh; } }
  .container .character-list {
    margin-top: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    color: #ffe81f;
    gap: 3px; }
    @media screen and (min-width: 500px) {
      .container .character-list {
        width: 70%; } }
    .container .character-list ::selection {
      background: #ffe81f;
      color: #000000; }
    .container .character-list ::-moz-selection {
      background: #ffe81f;
      color: #000000; }

.character {
  background-color: #0a0b0b;
  height: 2rem;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(255, 232, 31, 0.2), 0 6px 20px 0 rgba(255, 232, 31, 0.19); }
